#diferencialempresa {
  width:100% ;
  height: 70vh;
}

.titulodiferencial {
  justify-content: center;
  display: flex;
  color: #f57700;
}

#diferenciais {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  max-width: 550px;
  gap: 20px;
  margin: auto;
  
  
 
 
  
}

.diferencialitem {
  flex: 1 1 250px;
  width: 250px;
}

img {
  width: 110px;
}
